body{
    font-family: 'Source Sans Pro', sans-serif;
}

.logo_jb {    
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

.nombre{
    font-family: 'Monoton', cursive;
    font-size: 25px;

}
.header{
    color: #eee;
    background-color: #393e46;
}
.header a{
    color: #eee;
    text-decoration: none;  
}

.hero{
    height: 300px;
    background-image: url('imagenes/desarrolloweb.png');
    background-color: #393e46;
    background-size: 950px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

h1{
    line-height: 40px;
    color: #eee;
}

.resaltador{
    color: #96cc4b;
}

h1,
h2,
h3,
h4,
h5, 
h6{
    font-family: 'Fjalla One', sans-serif;
}




.logo_jb{
    width: auto;
    max-height: 80px;
}

.portada{
    width: auto;
    max-height: 300px;
}

.logo_image{
    width: 100px;
    height: 100px;
}