body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5, 
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    line-height: 40px;
}


.logo_jb{
    width: auto;
    max-height: 80px;
}

.portada{
    width: auto;
    max-height: 300px;
}

.logo_image{
    width: 100px;
    height: 100px;
}