body{
    font-family: 'Source Sans Pro', sans-serif;
 
}


.header{
    color: #eee;
    background-color: #393e46;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 10px;
}
.menu {
    height: inherit;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit;
}
.header ul li{
    display: flex;
    height: inherit;
}
.header a{
    color: #eee;
    text-decoration: none;
    font-weight: bold; 
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.logo_jb {    
    font-family: 'Monoton', cursive;
    font-size: 50px;
    align-self: center;
    width: auto;
    max-height: 80px;    
}
.nombre{
    font-family: 'Monoton', cursive;
    font-size: 30px;
    align-self: center;
    justify-self: center;
}


.hero{
    height: 250px;
    background-image: url('imagenes/desarrolloweb.png');
    background-color: #393e46;
    background-size: 800px 250px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}
h1{
    width: 500px;
    font-size: 30px;
    line-height: 1.5;
    color: #eee;
    margin: 0;
}
.resaltador{
    color: #96cc4b;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

.portada{
    width: auto;
    max-height: 300px;
}

.conocimientos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid #FF0000;
}

.conocimientos_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #393e46;    
    width: 140px;
    height: 140px;
}

.logo_imageContainer{
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;   
}

.logo_image{
    margin: 0;
    width: 90px;
    height: 90px;          
}



.footer{
    height: 60px;
    background-color: #393e46;
    color: #eee;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.footer a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;    
}